.background-style{
  z-index: -10;
  background-size: 20px 20px;
  background-image:
    linear-gradient(to left, rgba(0,0,0,.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,.03) 1px, transparent 1px);
    .background-style-gradient{
    height: fit-content;
    z-index: -1;
    max-width: 640px;
    background-image: radial-gradient(at 27% 37%,#7ef03c 0,transparent 30%),
    radial-gradient(at 97% 21%,#4ea8fc 0,transparent 50%),
    radial-gradient(at 52% 99%,#743afd 0,transparent 50%),
    radial-gradient(at 10% 29%,#fa2643 0,transparent 50%),
    radial-gradient(at 97% 96%,#f0ec14 0,transparent 50%),
    radial-gradient(at 33% 50%,#ff00f2 0,transparent 50%),
    radial-gradient(at 79% 53%,#00ff00 0,transparent 50%);
    position: absolute;
    content: "";
    width: 50%;
    height: 50%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: .3;
    }
}
