<app-background></app-background>
<div class="bg-transparent h-screen grid grid-cols-1 place-items-center p-8">
  <div class="flex flex-col items-center px-6 py-8 rounded-md min-[0px]:w-2/3 md:w-1/3 lg:w-1/3 xl:w-1/4">
    <h3 class="font-bold text-4xl mb-8">Antes de iniciar</h3>
    <p class="text-center mb-8">Debes iniciar Sesion en spoitify para poder crear tus listas</p>
    <button (click)="spotifyVerify()" class="rounded-full w-full h-10 border border-gray-500 text-center font-bold text-white bg-gradient-to-r from-green-400 via-cyan-900 to-blue-500">Iniciar Sesion</button>
  </div>
</div>

